:root {
    --main-color: #000000;
    --white-color: #ffffff;
    --danger-color: #f14a58;
    --gray-color: #a7a7a7;
    --lightGray-color: #e5e5e5;
    --font-primary: "Open Sans", sans-serif;
    --font-secondary: "Roboto", sans-serif;
    --font-tertiary: 'Times New Roman', Times, serif;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    color: var(--main-color);
    font-size: 12px;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.align-items-center {
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-row {
    flex-direction: row;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-grow-1 {
    flex-grow: 1;
}

.text-center {
    text-align: center;
}

.d-none {
    display: none;
}

.text-white {
    color: var(--white-color);
}

.text-gray {
    color: var(--gray-color);
}

.text-danger {
    color: var(--danger-color);
}

.text-dark {
    color: var(--main-color);
}

.pos-relative {
    position: relative;
}

.f-size-26 {
    font-size: 24px;
}

.f-size-24 {
    font-size: 24px;
}

.f-size-22 {
    font-size: 22px;
}

.f-size-20 {
    font-size: 20px;
}

.f-size-18 {
    font-size: 18px;
}

.f-size-16 {
    font-size: 16px;
}

.f-size-15 {
    font-size: 15px;
}

.f-size-14 {
    font-size: 14px;
}

.f-size-13 {
    font-size: 13px;
}

.f-size-12 {
    font-size: 12px;
}

.f-size-10 {
    font-size: 10px;
}


/*Header*/

.header {
    height: 70px;
}

.header_logo {
    flex-grow: 1;
    padding: 0 5%;
}

.logo {
    align-self: center;
    font-weight: bold;
}

.header_bag {
    color: var(--main-color);
    text-decoration: none;
    font-family: var(--font-secondary);
    margin-right: 40px;
}

.header_icon {
    padding-right: 15px;
}

.vertical_divider {
    border-right: 1px solid var(--lightGray-color);
}

.gamburger {
    border-bottom: 2px solid var(--main-color);
    width: 20px;
    display: block;
    height: 7px;
}

.mobile_icon {
    padding: 5%;
}


/*Header Mobile Menu*/

.search_wrapper {
    position: relative;
    width: 168px;
}

.mobile_menu {
    padding: 5%;
    border-top: 1px solid var(--lightGray-color);
}

.mobile_menu_list {
    list-style-type: none;
}

.mobile_menu_list li {
    padding: 3%;
}

.mobile_menu_search {
    padding: 20% 3% 3%;
}

.mobile_link {
    text-decoration: none;
    font-weight: bold;
}

.search_field {
    border: none;
    border-bottom: 2px solid var(--lightGray-color);
    outline: none;
    padding-bottom: 3%;
    width: 100%;
}

.search_icon {
    position: absolute;
    right: 0;
    bottom: 10px;
}


/*Block*/

.block_heading {
    padding-left: 2%;
}

.block_pannel {
    height: 55px;
    border-bottom: 1px solid var(--lightGray-color);
    border-top: 1px solid var(--lightGray-color);
    padding: 0 5%;
}


/*Filters*/

.product_filters {
    padding-left: 5%;
    margin-bottom: 5%;
    border-top: 1px solid var(--lightGray-color);
    border-bottom: 1px solid var(--lightGray-color);
    font-weight: bold;
    height: 55px;
}

.filters_header_text {
    margin-right: 10px;
}

.word_end_gradient {
    background: linear-gradient(to right, var(--danger-color) 50%, var(--white-color) 85%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mobile_filters {
    padding: 0 5%;
}

.mobile_filters_list {
    list-style-type: none;
}

.mobile_filters_list .filter {
    width: 50%;
    margin-bottom: 10%;
}

.mobile_filters_list .filter_items li {
    font-size: 14px;
    font-weight: bold;
    padding: 3%;
}

.mobile_filters_list .filter_items {
    list-style-type: disc;
    margin-top: 5%;
    padding: 0 7%;
}


/*Banner*/

.banner {
    height: 240px;
    max-width: 1300px;
}

.dividerLine {
    border: 0;
    height: 1px;
    background: var(--lightGray-color);
}

.promo_banners {
    height: 100%;
}

.promo_banner {
    position: relative;
    height: 100%;
    width: 100%;
}

.promo_banner:nth-of-type(2) {
    border-left: 1px solid var(--lightGray-color);
}

.banner_text {
    position: absolute;
    top: 15%;
    right: 11%;
    font-weight: bold;
}

.banner_sale {
    font-family: var(--font-tertiary);
    font-weight: 400;
}

.banner_img {
    width: 100%;
    height: 100%;
}


/*Products Section*/

.products_section {
    padding-bottom: 100px;
    border-bottom: 1px solid var(--lightGray-color);
}

.products_header {
    padding: 50px 49px 100px;
    line-height: 35px;
}

.products_header_arrivals {
    padding: 100px 0 50px;
}

.products_title {
    text-decoration: none;
    color: var(--main-color);
    font-weight: bold;
    line-height: 35px;
    margin-bottom: 20px;
}

.info_block {
    margin: 30px 0;
    font-family: var(--font-tertiary);
}

.info_block_item {
    line-height: 30px;
}

.product_items {
    padding-bottom: 10%;
    position: relative;
}

.product_item {
    max-width: 160px;
    width: 50%;
    position: relative;
    cursor: pointer;
}

.product_item.multi:before {
    content: "^";
    top: -12%;
    right: 47%;
}

.product_item.multi:after {
    content: "^";
    transform: rotate(180deg);
    bottom: -3%;
    right: 47%;
}

.product_item.multi:before,
.product_item.multi:after {
    position: absolute;
    color: var(--danger-color);
    font-size: 30px;
    font-weight: bold;
}

.product_item img {
    height: 220px;
    width: 160px;
}

.product_item_promo {
    background-color: var(--danger-color);
    color: var(--white-color);
    font-weight: bold;
    font-family: var(--font-secondary);
    position: absolute;
    top: 5%;
    padding: 4% 9%;
    text-transform: uppercase;
}

.product_info {
    line-height: 24px;
    font-family: var(--font-secondary);
    padding-bottom: 20%;
}

.product_name {
    text-decoration: none;
    font-weight: bold;
    padding-top: 10%;
    color: var(--main-color);
}

.plus {
    position: absolute;
    top: 29%;
    font-weight: bold;
}

.products_discount {
    line-height: 40px;
    position: relative;
}

.products_discount:before {
    content: "=";
    position: absolute;
    font-size: 26px;
    font-weight: bold;
    left: 30%;
    bottom: 30%;
}

.discount_amounts {
    margin-bottom: 10%;
}

.price_before_discount {
    position: relative;
    font-family: var(--font-secondary);
    color: #757575;
}

.price_before_discount_catalog {
    font-size: 12px;
}

.crossItem {
    position: absolute;
    top: 50%;
    right: 7%;
    border: 0.5px solid var(--danger-color);
    width: 95%;
    height: 0;
    transform: rotate(-30deg);
}

.price_after_discount {
    font-weight: bold;
    font-family: var(--font-secondary);
}

.button {
    background-color: transparent;
    padding: 25px 60px;
    border: 1px solid var(--lightGray-color);
    font-weight: bold;
    outline: none;
}


/*Item section*/

.item_section {
    padding: 15px 20px 100px;
}

.item_primary {
    height: 225px;
}

.item_primary_image {
    width: 100%;
    height: 100%;
}

.item_secondary {
    height: 75px;
}

.item_secondary_image {
    width: 33.33%;
    height: 100%;
}

.item_text {
    font-family: var(--font-secondary);
    padding-top: 50px;
    line-height: 40px;
}

.item_block {
    padding-top: 30px;
}

.item_price {
    font-family: var(--font-secondary);
}

.item_property {
    margin-bottom: 50px;
}

.item_size,
.item_color {
    margin: 15px 0;
}

.item_description {
    width: 8%;
}

.item_button_wrapper {
    width: 85%;
}

.item_btn {
    border: none;
    background-color: transparent;
    font-weight: bold;
    outline: none;
    margin: 0 10px;
    width: 80px;
    height: 40px;
}

.item_btn:focus {
    border: 1px solid var(--lightGray-color);
}


/*Footer*/

.footer {
    position: relative;
}

.site_map {
    border-bottom: 1px solid var(--lightGray-color);
}

.footer_info {
    padding: 8% 10% 8% 5%;
    border-bottom: 1px solid var(--lightGray-color);
}

.footer_text {
    font-weight: bold;
}

.footer_nav {
    list-style-type: none;
    padding-top: 20%;
}

.footer_link {
    text-decoration: none;
    color: var(--main-color);
    line-height: 36px;
    font-family: var(--font-secondary);
}

.footer_adress {
    line-height: 25px;
}

.footer_questions {
    padding: 5% 10% 10% 5%;
    border-right: 1px solid var(--lightGray-color);
}

.footer_contact {
    padding: 5% 10% 10%;
}

.policy_and_copyRights {
    font-weight: bold;
    padding: 5%;
    font-family: var(--font-secondary);
    width: 100%;
    float: left;
    border-bottom: 1px solid var(--lightGray-color);
}

.bottom {
    padding-right: 5%;
}

.footer_copy {
    width: 63%;
    float: left;
    padding: 5%;
    font-weight: bold;
}

.footer_share {
    float: left;
    width: 37%;
    padding: 5%;
    font-weight: bold;
}

.share {
    margin-left: 9%;
}

.share_num {
    background-color: #f4f4f4;
    padding: 1% 7%;
}

.footer_icon {
    position: absolute;
    bottom: 13%;
    right: 7%;
}

.twitter {
    margin-left: 20px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 1023;
        margin: 0 auto;
    }
    .d-none-tablet-up {
        display: none;
    }
    .d-block-tablet-up {
        display: block;
    }
    .d-flex-tablet-up {
        display: flex;
    }
    .direction-row-tablet-up {
        flex-direction: row;
    }
    .f-size-40 {
        font-size: 40px;
    }
    .f-size-26-tablet {
        font-size: 26px;
    }
    .f-size-22-tablet {
        font-size: 22px;
    }
    .f-size-16-tablet {
        font-size: 16px;
    }
    .f-size-14-tablet {
        font-size: 14px;
    }
    /*Header*/
    .header_wrapper {
        height: 120px;
    }
    .header_logo {
        font-weight: bold;
    }
    .header_shopArea {
        font-family: var(--font-secondary);
        border: none;
        padding: 3% 5%;
    }
    .header_email {
        text-decoration: none;
        color: var(--main-color);
    }
    .header_bag {
        padding-left: 57px;
        margin-right: 0;
    }
    .header_navbar {
        padding: 2% 5% 0;
    }
    .nav_main {
        font-weight: bold;
    }
    .header_nav {
        text-decoration: none;
        color: var(--main-color);
        padding-right: 25px;
    }
    .search_wrapper {
        width: 250px;
        max-width: 10px;
        transition: all .5s ease;
    }
    .search_icon {
        position: static;
    }
    .menu_search {
        position: absolute;
        right: 5%;
    }
    .header_navbar.expanded .search_wrapper {
        max-width: 250px;
    }
    .header_navbar.expanded .search_field {
        display: block;
    }
    .header_navbar.expanded .search_icon {
        position: absolute;
    }
    .header_navbar.expanded .nav_main {
        background: linear-gradient(to right, var(--main-color) 63%, var(--white-color) 65%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    /*Block*/
    .block_pannel {
        height: 65px;
    }
    /*Filters*/
    .product_filters {
        height: 65px;
    }
    .word_end_gradient {
        -webkit-text-fill-color: var(--danger-color);
    }
    .mobile_filters_list .filter {
        width: 33.33%;
    }
    /*Banner*/
    .promo_banner {
        width: 50%;
        float: left;
    }
    .promo_banner_first {
        width: 65%;
    }
    .promo_banner_second {
        width: 35%;
    }
    .banner_text_bottom {
        top: 69%;
        left: 14%;
    }
    /*Products Section*/
    .products_title {
        font-weight: bold;
    }
    .products {
        padding: 0 38px;
    }
    .product_items {
        width: 70%;
    }
    .product_item {
        max-width: 205px;
    }
    .product_item img {
        height: 290px;
        width: auto;
    }
    .products_discount {
        justify-content: flex-end;
        width: 30%;
    }
    .products_discount:before {
        left: 0;
        top: 27%;
    }
    .discount_amounts {
        margin-top: 40%;
    }
    .price_before_discount {
        margin-right: 32px;
    }
    .price_before_discount_catalog {
        font-size: 14px;
    }
    .button {
        padding: 22px 95px;
    }
    /*Item Section*/
    .item_section {
        padding: 30px 38px 100px;
    }
    .items {
        flex-direction: row;
    }
    .item_primary {
        height: 345px;
        width: 80%;
    }
    .item_secondary {
        flex-direction: column;
        height: 345px;
    }
    .item_secondary_image {
        width: 100%;
    }
    .item_info {
        width: 71%;
        margin: 0 auto;
    }
    .item_text {
        padding-top: 25px;
    }
    .item_property {
        align-items: center;
    }
    /*Footer*/
    .site_map {
        flex-direction: row;
        align-items: baseline;
        border-bottom: 1px solid var(--lightGray-color);
    }
    .footer_info {
        width: 70%;
        border: none;
    }
    .footer_text {
        font-weight: bold;
    }
    .footer_link {
        font-size: 14px;
        font-family: var(--font-secondary);
    }
    .footer_adress {
        flex-direction: column;
        width: 50%;
        padding-left: 5%;
    }
    .footer_questions,
    .footer_contact {
        padding: 0;
    }
    .footer_questions {
        border: none;
    }
    .footer_contact {
        padding-top: 20px;
    }
    .footer_bottom {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }
    .policy_and_copyRights {
        width: 40%;
        float: left;
        padding: 0 5%;
        border: none;
    }
    .footer_end {
        width: 50%;
    }
    .share_num {
        bottom: 51px;
    }
    .footer_icon {
        position: absolute;
        bottom: 40%;
        right: 30%;
    }
}

@media screen and (min-width: 1025px) {
    .container {
        max-width: 1180px;
    }
    .d-none-desktop-up {
        display: none;
    }
    .d-block-desktop-up {
        display: block;
    }
    .f-size-50-desktop {
        font-size: 50px;
    }
    .f-size-28-desktop {
        font-size: 28px;
    }
    .f-size-26-desktop {
        font-size: 26px;
    }
    .f-size-25-desktop {
        font-size: 25px;
    }
    .f-size-24-desktop {
        font-size: 24px;
    }
    .f-size-16-desktop {
        font-size: 16px;
    }
    .f-size-14-desktop {
        font-size: 14px;
    }
    .f-size-13-desktop {
        font-size: 13px;
    }
    /*Header*/
    .header_wrapper {
        position: relative;
    }
    .header_navbar {
        padding: 0 5%;
    }
    .search_field {
        display: block;
    }
    .search_icon {
        position: absolute;
    }
    .menu_search {
        position: static;
    }
    .search_wrapper {
        width: 116px;
        max-width: 116px;
    }
    .header_nav:hover,
    .header_nav:active {
        color: var(--danger-color);
    }
    /*Banner*/
    .banner {
        max-width: 1300px;
        height: 380px;
        margin: 0 auto;
    }
    .promo_banners {
        padding: 0 2%;
    }
    .promo_banner_first {
        width: 50%;
    }
    .promo_banner_second {
        width: 25%;
    }
    .promo_banner_third {
        width: 25%;
    }
    .dividerLine {
        background: -webkit-gradient(linear, 0 0, 100% 0, from(#fdfdfd), to(#fdfdfd), color-stop(80%, #acaaaa));
    }
    .text {
        display: block;
    }
    /*Products Section*/
    .product_item {
        max-width: 240px;
    }
    .product_item img {
        height: 340px;
        width: 230px;
    }
    .button_wrapper {
        margin-top: 50px;
    }
    .item_hover {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 64% 27%;
        background: rgba(0, 0, 0, 0.7);
    }
    .item_hover_link {
        text-decoration: none;
        color: var(--danger-color);
        font-size: 22px;
        font-weight: bold;
    }
    .product_item:hover .product_item_img .item_hover {
        display: block;
    }
    .product_item:hover .product_name {
        color: var(--danger-color);
    }
    .product_name:active {
        color: var(--danger-color);
    }
    .button:hover,
    .button:active {
        color: var(--danger-color);
        border: 1px solid var(--danger-color);
        cursor: pointer;
    }
    /*Item Section*/
    .item_section {
        flex-direction: row;
        padding: 60px 60px 100px;
        border-bottom: 1px solid var(--lightGray-color);
    }
    .items {
        flex-direction: column;
        width: 88%;
    }
    .item_primary {
        height: 395px;
        width: 100%;
    }
    .item_secondary {
        flex-direction: row;
        height: 130px;
    }
    .item_secondary_image {
        width: 33.33%;
    }
    .item_info {
        padding-left: 5%;
        text-align: left;
    }
    .item_block {
        flex-direction: column-reverse;
    }
    .item_price {
        padding-bottom: 30px;
    }
    .info_block,
    .item_block {
        padding: 0;
    }
    .item_property {
        align-items: inherit;
    }
    /*Footer*/
    .footer_info {
        width: 50%;
        border-right: 1px solid var(--lightGray-color);
    }
    .footer_nav,
    .footer_tweet {
        font-family: var(--font-secondary);
    }
    .footer_adress {
        flex-direction: row;
        align-items: baseline;
        flex-wrap: wrap;
    }
    .footer_contact {
        width: 45%;
    }
    .text {
        width: 57%;
        padding: 10% 0;
        font-family: var(--font-tertiary);
        color: #e0e0e0;
        line-height: 30px;
    }
    .policy_and_copyRights {
        width: 33%;
    }
    .footer_end {
        width: 64%;
    }
    .footer_icon {
        right: 41%;
        bottom: 35%;
    }
}