:root {
    --main-color: #000000;
    --font-primary: "Open Sans", sans-serif;
    --font-secondary: "Roboto", sans-serif;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: var(--main-color);
    font-size: 12px;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.header_navbar,
.logo,
.header_email,
.text {
    display: none;
}

.header_wrapper {
    border-bottom: 1px solid silver;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.header_logo {
    padding: 5%;
    flex-grow: 1;
}

.logo_mobile {
    font-size: 24px;
    font-weight: bold;
    font-family: var(--font-primary);
}

.header_shopArea {
    border-right: 1px solid silver;
}

.header_icon {
    padding-right: 15px;
}

.header_bag {
    color: var(--main-color);
    text-decoration: none;
    font-family: var(--font-secondary);
    margin-right: 40px;
}

.header_menu {
    padding: 5%;
}

.gamburger {
    border-bottom: 2px solid var(--main-color);
    width: 20px;
    display: block;
    height: 7px;
}

.main {
    height: 500px;
}

.footer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid silver;
    position: relative;
}

.site_map {
    flex-direction: column;
    border-bottom: 1px solid silver;
}

.footer_icon {
    position: absolute;
    bottom: 14%;
    right: 5%;
}

.footer_info {
    display: flex;
    justify-content: space-between;
    padding: 5% 10% 5% 5%;
    border-bottom: 1px solid silver;
}

.footer_text {
    font-size: 14px;
    font-weight: bold;
    font-family: var(--font-primary);
}

.footer_nav {
    list-style-type: none;
    padding-top: 20px;
}

.footer_link {
    text-decoration: none;
    color: var(--main-color);
    line-height: 36px;
    font-family: var(--font-secondary);
}

.footer_adress {
    display: flex;
    line-height: 25px;
    justify-content: space-between;
}

.footer_questions {
    padding: 5% 10% 10% 5%;
    border-right: 1px solid silver;
}

.footer_contact {
    padding: 5% 10% 10%;
}

.footer_img {
    margin-right: 5px;
}

.footer_tweet {
    font-family: var(--font-primary);
}

.footer_bottom {
    flex-direction: column;
}

.footer_copy {
    width: 70%;
    float: left;
    padding: 5%;
}

.footer_share {
    float: left;
    width: 30%;
    padding: 5%;
}

.footer_lala {
    display: flex;
    justify-content: space-between;
}

.policy_and_copyRights {
    font-size: 10px;
    font-weight: bold;
    padding: 5%;
    font-family: var(--font-secondary);
    width: 100%;
    float: left;
    border-bottom: 1px solid silver;
}

.bottom {
    padding-right: 5%;
}

.twitter {
    margin-left: 20px;
}

.footer_template {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-secondary);
    font-weight: bold;
    border-top: 1px solid silver;
    padding: 5%;
}

.share_icon {
    margin-left: 5px;
    position: absolute;
}

.share {
    margin-left: 17%;
}

.share_num {
    background-color: #f4f4f4;
    padding: 1% 3%;
}

@media screen and (min-width: 768px) {
    .header_navbar,
    .logo,
    .header_email {
        display: block;
    }
    .logo_mobile,
    .header_menu,
    .search_field {
        display: none;
    }
    .header {
        align-items: center;
    }
    .header_bag {
        padding-left: 50px;
        margin-right: 0px;
    }
    .header_shopArea {
        display: flex;
        font-size: 12px;
        font-family: var(--font-secondary);
        border: none;
        padding: 5%;
    }
    .nav {
        font-weight: bold;
        font-family: var(--font-primary);
    }
    .header_navbar {
        display: flex;
        justify-content: space-between;
        padding: 2% 5%;
    }
    .header_nav {
        text-decoration: none;
        color: var(--main-color);
        padding-right: 25px;
    }
    .header_logo {
        font-size: 26px;
        font-weight: bold;
        font-family: var(--font-primary);
    }
    .header_email {
        text-decoration: none;
        color: var(--main-color);
    }
    .footer_text {
        font-size: 16px;
        font-weight: bold;
        font-family: var(--font-primary);
    }
    .footer_link {
        font-size: 14px;
        font-family: var(--font-secondary);
    }
    .footer_adress {
        flex-direction: column;
        width: 50%;
        padding-left: 5%;
    }
    .footer_questions,
    .footer_contact {
        padding: 0;
    }
    .footer_questions {
        border: none;
    }
    .footer_contact {
        padding-top: 20px;
    }
    .site_map {
        flex-direction: row;
        align-items: baseline;
        border-bottom: 1px solid silver;
    }
    .footer_icon {
        position: absolute;
        bottom: 40%;
        right: 30%;
    }
    .footer_info {
        width: 70%;
        border: none;
    }
    .policy_and_copyRights {
        width: 40%;
        float: left;
        padding: 0 5%;
        border: none;
    }
    .footer_copy {
        width: 70%;
        float: left;
        padding: 5%;
    }
    .footer_share {
        width: 30%;
        float: left;
        padding: 5%;
    }
    .footer_bottom {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .footer_template {
        border: none;
    }
    .share_num {
        bottom: 51px;
    }
    .footer_end {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 1180px;
        width: 100%;
    }
    .header_wrapper {
        position: relative;
        padding: 30px 60px 15px 60px;
    }
    .header_navbar {
        display: flex;
        justify-content: space-between;
    }
    .logo {
        font-size: 30px;
        font-family: "Myriad Pro", sans-serif;
    }
    .header_nav {
        padding-right: 30px;
        font-size: 13px;
        font-family: var(--font-primary);
    }
    .search_field {
        display: block;
        border: none;
        border-bottom: 2px solid silver;
        outline: none;
        padding-bottom: 10px;
    }
    .search_icon {
        position: absolute;
        bottom: 30px;
        right: 59px;
    }
    .footer_template,
    policy_and_copyRights {
        font-size: 12px;
    }
    .footer_adress {
        flex-direction: row;
        border-left: 1px solid silver;
        align-items: flex-start;
        line-height: 40px;
        padding-left: 50px;
    }
    .share {
        font-size: 18px;
    }
    .share_num {
        font-size: 12px;
        bottom: 57px;
    }
    .footer_contact {
        padding: 0;
    }
    .footer_right {
        padding-right: 80px;
    }
    .footer_text {
        padding-bottom: 0px;
    }
    .footer_icon {
        bottom: 219px;
        right: 408px;
    }
}