*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #000000;
    font-size: 16px;
}

.container {
    max-width: 375px;
    width: 100%;
}

.nav,
.logo,
.header_email,
.header_search {
    display: none;
}

.gamburger {
    border-bottom: 2px solid #000;
    width: 20px;
    display: block;
    height: 7px;
}

.header {
    border: 1px solid silver;
}

.header_inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 20px 30px 20px;
}

.logo_mobile {
    font-size: 24px;
    font-weight: bold;
    font-family: "Open sans", sans-serif;
}

.header_bag {
    padding: 0 0 0 150px;
    color: #000;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

.main {
    height: 500px;
}

.footer_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 20px 60px 20px;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
}

.footer_container {
    display: flex;
    flex-direction: column;
}

.footer_text {
    font-size: 14px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

.navbar {
    list-style-type: none;
}

.vl {
    border-left: 1px solid silver;
}

.footer_right {
    padding-right: 25px;
}

.footer_nav {
    padding-top: 20px;
}

.footer_link {
    text-decoration: none;
    color: #000;
    line-height: 36px;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
}

.footer_adress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 25px;
    border-bottom: 1px solid silver;
}

.footer_contact {
    padding: 20px 20px;
    width: 50%;
}

.footer_questions {
    padding: 20px 10px 40px 20px;
    width: 50%;
}

.footer_tweet {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
}

.footer_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
}

.footer_template {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
}

.footer_share {
    font-weight: bold;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.share_icon {
    margin-left: 15px;
}

.share_num {
    margin-top: 4px;
}

.footer_legal {
    font-size: 10px;
    font-weight: bold;
    padding-bottom: 30px;
    font-family: "Roboto", sans-serif;
}

.bottom {
    padding-right: 13px;
}

.footer_template {
    padding: 25px 0 25px 0;
    border-top: 1px solid silver;
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

@media screen and (min-width: 376px) {
    .container {
        max-width: 768px;
        width: 100%;
    }
    .nav,
    .logo,
    .header_email {
        display: block;
    }
    .logo_mobile {
        display: none;
    }
    .header_gamburger {
        display: none;
    }
    .header_bag {
        padding-left: 50px;
    }
    .header_right {
        display: flex;
    }
    .header_main {
        padding: 0 20px 20px 20px;
    }
    .header_nav {
        text-decoration: none;
        color: #000;
        padding-right: 20px;
    }
    .header_logo {
        font-size: 20px;
    }
    .header_email {
        text-decoration: none;
        color: #000;
    }
    .footer_container {
        flex-direction: row;
    }
    .footer_adress {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 50%;
        border-top: 1px solid silver;
    }
    .footer_info {
        width: 50%;
    }
    .footer_bottom {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: baseline;
    }
    .footer_template {
        border: none;
    }
    .footer_share {
        margin-left: 100px;
    }
}

@media screen and (min-width: 769px) {
    .container {
        max-width: 1024px;
        width: 100%;
    }
    .header_main {
        display: flex;
        justify-content: space-between;
    }
    .header_logo {
        font-size: 25px;
    }
    .header_nav {
        padding-right: 30px;
    }
    .header_search {
        display: block;
    }
    .search_field {
        border: none;
        border-bottom: 2px solid silver;
        outline: none;
        padding-bottom: 10px;
    }
    .footer_adress {
        flex-direction: row;
        border-left: 1px solid silver;
        align-items: flex-start;
        line-height: 40px;
    }
    .footer_right {
        padding-right: 80px;
    }
    .footer_share {
        margin-left: 250px;
    }
}